<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <ng-view></ng-view>

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>

    <!-- Template -->
    <script type="text/ng-template" id="/patients.html">
      Search: <input type="text" ng-model="search.name">
      <ul>
        <li ng-repeat="patient in patients | filter: search">
          <p>patient: {{patient}}</p>
          <a href="#/{{$index}}">{{patient.name}}</a>
        </li>
      </ul>
    </script>

    <script type="text/ng-template" id="/patientDetails.html">
      <h1>{{ patient.name }}</h1>
    </script>

    <script>
      angular.module('app', ['ngRoute'])

        //---------------
        // Services
        //---------------

        .factory('Patients', ['$http', function($http) {
            console.log("Hitting Factory");
            return $http.get('/patients');
        }])

        //---------------
        // Controllers
        //---------------

        .controller('PatientController', ['$scope', 'Patients', function ($scope, Patients) {
          Patients.success(function(data){
            console.log("patient controller success");
            $scope.patients = data;
          }).error(function(data, status){
              console.log(data,status);
              $scope.patients = [];
            });
        }])

        .controller('TodoDetailCtrl', ['$scope', '$routeParams', 'Todos', function ($scope, $routeParams, Todos) {
          $scope.todo = Todos[$routeParams.id];
        }])

        //---------------
        // Routes
        //---------------

        .config(['$routeProvider', function ($routeProvider) {
          $routeProvider
            .when('/', {
              templateUrl: '/patients.html',
              controller: 'PatientController'
            })

            .when('/:id', {
              templateUrl: '/todoDetails.html',
              controller: 'TodoDetailCtrl'
           });
        }]);
    </script>
  </body>
</html>