<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <ng-view></ng-view>

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

    <!-- Template -->
    <script type="text/ng-template" id="/patients.html">
      Search: <input type="text" ng-model="search.name">
      <ul>
        <li ng-repeat="patient in patients | filter: search">
          <p>patient: {{patient}}</p>
          <a href="#/{{patient._id}}">{{patient.name}}</a>
        </li>
      </ul>
       New Patient <input type="text" ng-model="newPatient"><button ng-click="save()">Create</button>
    </script>

    <script type="text/ng-template" id="/patientDetails.html">
      <h1>name: {{ patient.name }}</h1>
      <h1>age: {{ patient.age }}</h1>
      <h1>weight: {{ patient.weight }}</h1>
      <h1>updated at: {{ patient.updated_at }}</h1>
    </script>

    <script>
      angular.module('app', ['ngRoute', 'ngResource'])

        //---------------
        // Services
        //---------------

        .factory('Patients', ['$resource', function($resource) {
            console.log("Hitting Factory");
            return $resource('/patients/:id', null, {
              'update': { method:'PUT' }
            });
        }])

        //---------------
        // Controllers
        //---------------

        .controller('PatientController', ['$scope', 'Patients', function ($scope, Patients) {

          $scope.patients = Patients.query();

          $scope.save = function(){
            if(!$scope.newPatient || $scope.newPatient.length < 1) return;
            var patient = new Patients({ username: $scope.newPatient, weight: '100', password: 'kewlbeans006'});

            patient.$save(function(){
              $scope.patients.push(patient)
              $scope.newPatient = ''; // clear textbox
            });
          }
        }])

        .controller('PatientDetailCtrl', ['$scope', '$routeParams', 'Patients', function ($scope, $routeParams, Patients) {
          $scope.patient = Patients.get({id: $routeParams.id });
        }])

        //---------------
        // Routes
        //---------------

        .config(['$routeProvider', function ($routeProvider) {
          $routeProvider
            .when('/', {
              templateUrl: '/patients.html',
              controller: 'PatientController'
            })

            .when('/:id', {
              templateUrl: '/patientDetails.html',
              controller: 'PatientDetailCtrl'
           });
        }]);
    </script>
  </body>
</html>