<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <ng-view></ng-view>

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

    <!-- Template -->
    <script type="text/ng-template" id="/patients.html">
      Search: <input type="text" ng-model="search.name">
      <ul>
        <li ng-repeat="patient in patients | filter: search">
          <p>patient: {{patient}}</p>
          <input type="text" ng-model="patient.age" ng-change="update($index)">
          <a ng-show="!editing[$index]" href="#/{{patient._id}}">{{patient.name}}</a>
          <button ng-show="!editing[$index]" ng-click="edit($index)">edit</button>
          <input ng-show="editing[$index]" type="text" ng-model="patient.name">
          <button ng-show="editing[$index]" ng-click="update($index)">update</button>
          <button ng-show="editing[$index]" ng-click="cancel($index)">cancel</button>
        </li>
      </ul>
       New Patient <input type="text" ng-model="newPatient"><button ng-click="save()">Create</button>
    </script>

    <script type="text/ng-template" id="/patientDetails.html">
      <h1>username: {{ patient.username }} </h1>
      <h1>name: {{ patient.name }}</h1>
      <h1>age: {{ patient.age }}</h1>
      <h1>weight: {{ patient.weight }}</h1>
      <h1>updated at: {{ patient.updated_at }}</h1>
      <button ng-click="update()">update</button>
      <a href="/">Cancel</a>
    </script>

    <script>
      angular.module('app', ['ngRoute', 'ngResource'])

        //---------------
        // Services
        //---------------

        .factory('Patients', ['$resource', function($resource) {
            console.log("Hitting Factory");
            return $resource('/patients/:id', null, {
              'update': { method:'PUT' }
            });
        }])

        //---------------
        // Controllers
        //---------------

        .controller('PatientController', ['$scope', 'Patients', function ($scope, Patients) {

          $scope.editing = [];
          $scope.patients = Patients.query();

          $scope.save = function(){
            console.log("hitting save function");
            if(!$scope.newPatient || $scope.newPatient.length < 1) return;
            var patient = new Patients({ username: $scope.newPatient, weight: '100', password: 'kewlbeans006'});

            patient.$save(function(){
              $scope.patients.push(patient)
              $scope.newPatient = ''; // clear textbox
            });
          }

          $scope.update = function(index){
            console.log("hitting update. index = ");
            var patient = $scope.patients[index];
            Patients.update({id: patient._id}, patient);
            $scope.editing[index] = false;
          }

          $scope.edit = function(index){
            $scope.editing[index] = angular.copy($scope.patients[index]);
          }

          $scope.cancel = function(index){
            $scope.patients[index] = angular.copy($scope.editing[index]);
            $scope.editing[index] = false;
          }
        }])

        .controller('PatientDetailCtrl', ['$scope', '$routeParams', 'Patients', '$location', function ($scope, $routeParams, Patients, $location) {

          $scope.patient = Patients.get({id: $routeParams.id });

          $scope.update = function(){
            Patients.update({id: $scope.patient._id}, $scope.patient, function() {
              console.log("hitting update 2");
              $location.url('/');

            });
          }
        }])

        //---------------
        // Routes
        //---------------

        .config(['$routeProvider', function ($routeProvider) {
          $routeProvider
            .when('/', {
              templateUrl: '/patients.html',
              controller: 'PatientController'
            })

            .when('/:id', {
              templateUrl: '/patientDetails.html',
              controller: 'PatientDetailCtrl'
           });
        }]);
    </script>
  </body>
</html>