<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <ng-view></ng-view>

    <!-- Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-resource.min.js"></script>

    <!-- Template -->
   <script type="text/ng-template" id="/workouts.html">
      Search: <input type="text" ng-model="search.name">
      <ul>
        <li ng-repeat="workout in workouts | filter: search">
          <h1>Name: {{ workout.name }} </h1>
          <h1>Instructions: {{ workout.instructions }}</h1>
          <h1>Reps Completed: {{ workout.repsCompleted }}</h1>
          <h1>Reps Total: {{ workout.repsTotal }}</h1>
          <h1>Date Completed: {{ workout.dateCompleted }}</h1>
          <button ng-click="update()">update</button>
        </li>
      </ul>
      New Workout <input type="text" ng-model="newWorkout"><button ng-click="save()">Create</button>
      <a href="/">Cancel</a>
    </script>

    <script>
      angular.module('app', ['ngRoute', 'ngResource'])

        //---------------
        // Services
        //---------------


        .factory('Workouts', ['$resource', function($resource) {
            console.log("Hitting Workout factory");
            return $resource('/workouts/:id', null, {
              'update': { method:'PUT' }
            });
        }])

        //---------------
        // Controllers
        //---------------
       .controller('WorkoutController', ['$scope', 'Workouts', function ($scope, Workouts) {

          $scope.editing = [];
          $scope.workouts = Workouts.query();
          console.log("hitting workout controller");

          $scope.update = function(){
            Workouts.update({id: $scope.workout._id}, $scope.workout, function() {
              console.log("hitting update 2");
              $location.url('/');
            });
          }
        }])


        //---------------
        // Routes
        //---------------

        .config(['$routeProvider', function ($routeProvider) {
          $routeProvider

            .when('/', {
              templateUrl: '/workouts.html',
              controller: 'WorkoutController'
           });
        }]);
    </script>
  </body>
</html>